<!doctype html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Styles -->
     <!--<link rel="stylesheet" href="assets/css/style.css"> -->
     <link  rel="stylesheet"  th:href="@{/css/style.css}"/>

     <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,700&display=swap" rel="stylesheet">

    <!-- Ionic icons -->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

    <title>Dashboard - QualitySoft</title>
</head>

<body>
    <div class="d-flex" id="content-wrapper">

        <!-- Sidebar -->
        <div th:replace="fragments :: logo_camina" >

        </div>
        <!-- Fin sidebar -->

        <div class="w-100">

         <!-- Navbar -->
            <nav  th:replace="fragments :: barra_navegacion">

            </nav>
          <!-- Fin Navbar -->

        <!-- Page Content -->
        <div id="content" class="bg-grey w-100">

              <section class="bg-light py-3">
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-9 col-md-8">
                            <h1 class="font-weight-bold mb-0">Empresas</h1>
                            <p class="lead text-muted">Lista de Empresas</p>
                          </div>                         
                      </div>
                  </div>
              </section>

            <section th:replace="fragments :: botones_Empresas" >

            </section>


              <section>
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-12 my-3">
                              <!-- TABLAS Y FORMULARIOS -->

                              <br><table class="table table-bordered">
                              <tr>
                                  <th>IdEmpresa</th>
                                  <th>Nombre</th>
                                  <th>Dirección</th>
                                  <th>Telefono</th>
                                  <th>nit</th>
                                  <th>Usuarios</th>
                                  <th>Movimientos</th>
                                  <th>Editar</th>
                                  <th>Eliminar</th>
                              </tr>
                              <tr th:each="empresa : ${emplist}">
                                  <td th:text="${empresa.idEmpresa}"></td>
                                  <td th:text="${empresa.nombre}"></td>
                                  <td th:text="${empresa.direccion}"></td>
                                  <td th:text="${empresa.telefono}"></td>
                                  <td th:text="${empresa.nit}"></td>


                                  <!--<td th:text="${usuario.empresa.nombre}"></td>
                                  <td th:text="${usuario.estado}"></td>-->
                                  <!-- <td th:text="${usuario.fecha_ingreso}"></td>-->
                                  <!-- <td th:text="${usuario.fecha_salida}"></td>-->
                                  <!-- Pendiente euler crear controldaror segun mi ruta para consultar movimiento por empleado -->
                              <td><a th:href="@{/Empresa/{idEmpresa}/Usuarios(idEmpresa=${empresa.idEmpresa})}"><button type="button" class="btn btn-info"><i class="icon ion-ios-eye lead mr-2"></i>Ver</button></a></td>
                              <td><a th:href="@{/Empresa/{idEmpresa}/Movimientos (idEmpresa=${empresa.idEmpresa})}"><button type="button" class="btn btn-info"><i class="icon ion-ios-eye lead mr-2"></i>Ver</button></a></td>
                              <td><a th:href="@{/EditarEmpresa/{idEmpresa}(idEmpresa=${empresa.idEmpresa})}"><button type="button" class="btn btn-warning"><i class="icon ion-ios-create lead mr-2"></i>Editar</button></a></td>
                              <td><a th:href="@{/EliminarEmpresa/{idEmpresa}(idEmpresa=${empresa.idEmpresa})}"><button type="button" class="btn btn-danger"><i class="icon ion-ios-trash lead mr-2"></i>Eliminar</button></a></td>


                          </table>











                              <!-- FIN TABLAS Y FORMULARIOS -->
                          </div>

                      </div>
                    </div>
              </section>

        </div>

        </div>
    </div>
    <script th:inline="javascript">
    window.onload=function(){

        var msg= [[${mensaje}]];
        if (msg == "saveOK"){
            Command : toastr["success"]("Usuario registrado con éxito!")
            }
        else if (msg == "updateOK"){
            Command : toastr["success"]("Usuario actualizado con éxito!")
        }
        else if (msg == "deleteOK"){
            Command : toastr["error"]("Usuario eliminado con éxito!")
        }
        else if (msg == "deleteError"){
            Command : toastr["error"]("El usuario no ha sido eliminado!")
        }
        toastr.options={
            "positionClass": "toast-top-right",
            "showDuration":"300",
            "showMethod":"fadeIn",
            "hideMethod":"fadeOut",
        }

    }
</script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
       
</body>

</html>