<!doctype html >
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<!-- MENU DE LA PAGINA -->
    <div class="menu" th:fragment="html_menu">
        <a href="./" class="d-block text-light p-3 border-0"><i class="icon ion-ios-home lead mr-2"></i>
            Homes</a>

        <a href="./VerEmpresas" class="d-block text-light p-3 border-0"><i class="icon ion-ios-cube lead mr-2"></i>
            Empresa</a>

        <a href="./VerUsuarios" class="d-block text-light p-3 border-0"><i class="icon ion-md-people lead mr-2"></i>
            Usuarios</a>

        <a href="./VerMovimientos" class="d-block text-light p-3 border-0"><i class="ion-ios-cash lead mr-2"></i>
            Movimientos</a>
        <a href="./VerClientesProveedores" class="d-block text-light p-3 border-0"><i class="icon ion-md-stats lead mr-2"></i>
            Clientes Y Proveedores</a>
        <a href="./VerArticulos" class="d-block text-light p-3 border-0"><i class="icon ion-ios-apps lead mr-2"></i>
            Zapatos</a>
        <a th:href="@{/logout}" class="d-block text-light p-3 border-0"> <i class="icon ion-md-settings lead mr-2"></i>
            Salir</a>
    </div>
    <!-- FIN DE MENU DE LA PAGINA -->



<!-- BOTONES USUARIOS -->

<section class="bg-mix py-3 " th:fragment="botones_usuarios">
    <div class="container">
        <div class="card rounded-0">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 col-md-6 d-flex stat my-3">
                        <div class="mx-auto">
                            <a href="./VerUsuarios" class="btn btn-primary w-100 align-self-center">Ver Usuarios</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 d-flex stat my-3">
                        <div class="mx-auto">
                            <a href="./AgregarUsuario" class="btn btn-primary w-100 align-self-center">Agregar Usuarios</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FIN DE BOTONES USUARIOS -->

<!-- BOTONES EMPRESAS -->

<section class="bg-mix py-3 " th:fragment="botones_Empresas">
    <div class="container">
        <div class="card rounded-0">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 col-md-6 d-flex stat my-3">
                        <div class="mx-auto" >
                            <a href="./VerEmpresas" class="btn btn-primary w-100 align-self-center">Ver Empresas</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 d-flex stat my-3">
                        <div class="mx-auto">
                            <a href="./AgregarEmpresa" class="btn btn-primary w-100 align-self-center">Agregar Empresas</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- FIN DE BOTONES EMPRESAS -->


















<!-- BOTONES MOVIMIENTOS -->

<section class="bg-mix py-3 " th:fragment="botones_movimientos">
    <div class="container">
        <div class="card rounded-0">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 col-md-6 d-flex stat my-3">
                        <div class="mx-auto">
                            <a href="./VerMovimientos" class="btn btn-primary w-100 align-self-center">Ver Movimientos</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 d-flex stat my-3">
                        <div class="mx-auto">
                            <a href="./AgregarMovimiento" class="btn btn-primary w-100 align-self-center">Agregar Movimiento</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FIN DE BOTONES MOVIMIENTOS -->


<!-- BOTONES ARTICULOS -->
<section class="bg-mix py-3 " th:fragment="botones_articulos">
    <div class="container">
        <div class="card rounded-0">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 col-md-6 d-flex stat my-3">
                        <div class="mx-auto">
                            <a href="./VerArticulos" class="btn btn-primary w-100 align-self-center">Ver Articulos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FIN DE BOTONES ARETICULOS -->

<!-- BOTONES CLIESTES/PROVEEDORES -->
<section class="bg-mix py-3 " th:fragment="botones_clientes_proveedores">
    <div class="container">
        <div class="card rounded-0">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 col-md-6 d-flex stat my-3">
                        <div class="mx-auto">
                            <a href="./VerClientesProveedores" class="btn btn-primary w-100 align-self-center">Ver Clientes y/o Poveedores</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FIN DE BOTONES CLIENTES/PROVEDORES -->
</html>