<!doctype html >
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Styles -->
    <!--<link rel="stylesheet" href="assets/css/style.css"> -->
    <link  rel="stylesheet"  th:href="@{/css/style.css}"/>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,700&display=swap" rel="stylesheet">

    <!-- Ionic icons -->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

    <title>Dashboard - QualitySoft</title>
</head>

<body>
<div class="d-flex" id="content-wrapper">

    <!-- Sidebar -->
    <div th:replace="fragments :: logo_camina" >

    </div>
    <!-- Fin sidebar -->

    <div class="w-100">

        <!-- Navbar -->
        <nav  th:replace="fragments :: barra_navegacion">

        </nav>
        <!-- Fin Navbar -->

        <!-- Page Content -->
        <div id="content" class="bg-grey w-100">

            <section class="bg-light py-3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 col-md-8">
                            <h1 class="font-weight-bold mb-0">Empresas</h1>
                            <p class="lead text-muted">Ingrese los nuevos registros para editar las empresas</p>
                        </div>
                    </div>
                </div>
            </section>

            <section th:replace="fragments :: botones_movimientos" >

            </section>


            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 my-3">
                            <!-- TABLAS Y FORMULARIOS -->
                            <!--Crear formulario para llenar los datos de la empresa y guardarlo en el objeto emp -->
                            <form th:action="@{/ActualizarMovimiento}" th:object="${mov}" method="post">

                                <!--Campo para id-->
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="col-md-3" for="idMovimiento">ID del Movimiento:</label>
                                        <div class="col-md-6">
                                            <input name="idMovimiento" type="text" th:field="*{idMovimiento}" class="form-control" id="idMovimiento" required="required" readonly>

                                        </div>
                                    </div>
                                </div>
                                <!--Campo para Zapato-->
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="col-md-3" for="articulo">Zapato:</label>
                                        <div class="col-md-6">
                                            <select th:field="*{articulo}" class="form-control" id="articulo" required="required">
                                                <option th:each="zapato : ${articulos}" th:text="${zapato.descripcion}" th:value="${zapato.idArticulo }"  ></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <!--Campo para MONTO-->
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="col-md-3" for="monto">Monto:</label>
                                        <div class="col-md-6">
                                            <input  name="monto" type="number" th:field="*{monto}" class="form-control" id="monto" required="required" >
                                        </div>
                                    </div>
                                </div>
                                <!--Campo automatico que depende del MONTO-->
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="col-md-3" for="concepto">Concepto:</label>
                                        <div class="col-md-6">
                                            <input name="concepto" type="text" th:field="*{concepto}" class="form-control" id="concepto" required="required" readonly>
                                        </div>
                                    </div>
                                </div>
                                <!--Campo para fecha-->
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="col-md-3" for="fecha">Fecha:</label>
                                        <div class="col-md-6">
                                            <input name="fecha" type="date" th:field="*{fecha}" class="form-control" id="fecha" required="required"></div>
                                    </div>
                                </div>

                                <!--Campo para usuario-->
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="col-md-3" for="usuario">Usuario:</label>
                                        <div class="col-md-6">
                                            <select th:field="*{usuario}" class="form-control" id="usuario" required="required">
                                                <option th:each="user : ${users}" th:text="${user.nombre}" th:value="${user.idUsuario}"  ></option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                                <!--Campo para empresa-->
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="col-md-3" for="empresa">Empresa:</label>
                                        <div class="col-md-6">
                                            <input name="empresa" type="text" th:field="*{empresa.nombre}" class="form-control" id="empresa" required="required" readonly>
                                        </div>

                                    </div>
                                </div>



                                <!--Boton para enviar todo y ejecutar accion -->
                                <div class="row">
                                    <div class="col-md-2">
                                        <button class="btn btn-success">Actualizar Movimiento</button>
                                    </div>
                                </div>

                            </form>
                            <br>
                            <a href="javascript: history.go(-1)" class="btn btn-info" role="button">Atrás</a>







                            <!-- FIN TABLAS Y FORMULARIOS -->
                        </div>

                    </div>
                </div>
            </section>

        </div>

    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>

</body>

</html>