<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Editar Usuario</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    a{
    color:white;
    }
    a:hover {
    color: black;
    text-decoration:none;
    }
</style>
</head>
<body>

<div class="container">
  <p th:inline="text" class="text-right">User: [[${#httpServletRequest.remoteUser}]]</p>
  <button type="button" class="btn btn-danger" style="float:right"><a th:href="@{/logout}">Cerrar Sesión</a></button>

  <h1> Editar Usuario</h1>
  <h2>Actualice los campos para editar un usuario</h2>
  <br>
  <!--Crear formulario para llenar los datos del usuario y guardarlo en el objeto user -->
  <form th:action="@{/ActualizarUsuario}" th:object="${user}" method="post">

    <!--Campo para idUsuario de solo lectura-->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="idUsuario">Id del Usuario:</label>
        <div class="col-md-6">
          <input type="text" th:field="*{idUsuario}" class="form-control" id="idUsuario" required="required" readonly></div>
      </div>
    </div>

    <!--Campo para nombre-->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="nombre">Nombre del Usuario:</label>
        <div class="col-md-6">
          <input type="text" th:field="*{nombre}" class="form-control" id="nombre" required="required"></div>
      </div>
    </div>

    <!--Campo para imagen-->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="imagen">Imagen del Usuario:</label>
        <div class="col-md-6">
          <input type="image" th:field="*{imagen}" class="form-control" id="imagen" required="required"></div>
      </div>
    </div>

    <!--Campo para correo-->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="correo">Correo del Usuario:</label>
        <div class="col-md-6">
          <input type="email" th:field="*{correo}" class="form-control" id="correo" required="required"></div>
      </div>
    </div>

    <!--Campo para telefono-->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="telefono">Telefono del Usuario:</label>
        <div class="col-md-6">
          <input type="number" th:field="*{telefono}" class="form-control" id="telefono" required="required"></div>
      </div>
    </div>

    <!--Campo para contraseña-->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="contraseña">Contraseña del Usuario:</label>
        <div class="col-md-6">
          <input type="password" th:field="*{contraseña}" class="form-control" id="contraseña" required="required"></div>
      </div>
    </div>

    <!--Campo para Rol-->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="rol">Rol del Usuario:</label>
        <div class="col-md-6">
          <select th:field="*{rol}" class="form-control" id="rol" required="required">
            <option th:value='ADMIN'>Administrativo</option>
            <option th:value='USER'>Operativo</option>
          </select>
        </div>
      </div>
    </div>

    <!--Campo para Estado-->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="estado">Estado actual del Usuario:</label>
        <div class="col-md-6">
          <select th:field="*{estado}" class="form-control" id="estado" required="required">
            <option th:value=1>Activo</option>
            <option th:value=0>Inactivo</option>
          </select>
        </div>
      </div>
    </div>

    <!--Campo para empresa-->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="empresa">Empresa a la que pertence:</label>
        <div class="col-md-6">
          <select th:field="*{empresa}" class="form-control" id="empresa" required="required">
            <option th:each="empresa : ${empresaslist}" th:text="${empresa.nombre}" th:value="${empresa.idEmpresa}"></option>
          </select>
        </div>
      </div>
    </div>


    <!--Boton para enviar todo y ejecutar accion -->
    <div class="row">
      <div class="col-md-2">
        <button class="btn btn-success">Actualizar Usuario</button>
      </div>
    </div>

  </form>

  <br>
  <a href="javascript: history.go(-1)" class="btn btn-info" role="button">Atrás</a>

</div>
</body>
</html>